body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.按鈕{
  margin: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(18, 234, 227);
}

.按鈕2{
  margin: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(205, 30, 59);
}

.按鈕3{
  margin: 10px;
  border-radius: 10px;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(69, 230, 15);
}

.FUCK{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



